# Penguin Dataset EDA.
We would example the data from the penguin dataset, for example examine various features like categorical and numeric.
## Things we would do
- Look at the shape of data, missing values.
- Summary statistics for numeric.
- Dimentions of categorical values.
- Missing values.
- Ways to fix missing values.
- Data distribution for individual feature.
- Any correlation between existing features.
- Summary of any meaningful insights we find in the dataset.

Lets first import all the libraries we need for the project. We would use:
- Pandas for Dataframe as well as integration with mathplot.
- Matplot for visualization.
- Numpy for any computation.
- Seaborn if needed for additional visualization.

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 200)

Now we would load the CSV file into dataframe for analysis. We would print first few rows and the shape of the dataset.

In [13]:
data = pd.read_csv("./data/penguins_size.csv")
print(data.head())
print("\n\nShape:")
print(data.shape)

  species     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1             18.7              181.0       3750.0    MALE
1  Adelie  Torgersen              39.5             17.4              186.0       3800.0  FEMALE
2  Adelie  Torgersen              40.3             18.0              195.0       3250.0  FEMALE
3  Adelie  Torgersen               NaN              NaN                NaN          NaN     NaN
4  Adelie  Torgersen              36.7             19.3              193.0       3450.0  FEMALE


Shape:
(344, 7)

Lets look at basic information. Which include the datatypes.

In [14]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None

In [16]:
print(data.isna().sum())

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [17]:
data.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

Now lets also look at categorical features about their dimentionality.

In [20]:
species_dimentions = data['species'].value_counts()
island_dimentions = data['island'].value_counts()
sex_dimentions = data['sex'].value_counts()

print(species_dimentions, end="\n\n")
print(island_dimentions, end="\n\n")
print(sex_dimentions)

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

sex
MALE      168
FEMALE    165
.           1
Name: count, dtype: int64

Lets fix the  . sex and make it nan for time being.

In [21]:
data["sex"] = data["sex"].replace(".", np.nan)

In [22]:
species_dimentions = data['species'].value_counts()
island_dimentions = data['island'].value_counts()
sex_dimentions = data['sex'].value_counts()

print(species_dimentions, end="\n\n")
print(island_dimentions, end="\n\n")
print(sex_dimentions)

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

sex
MALE      168
FEMALE    165
Name: count, dtype: int64

In [23]:
data.isna().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64